/* container */
body{
    background-color: #f5f6f7;
}
div{
    display: flex;
}
.container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 755px;
}
.container-main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 470px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}
.container-loginetc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 13px;
}
.container-loginetc-left{
    display: flex;
    justify-content: start;
    align-items: center;
}
.container-loginetc-right{
    display: flex;
    justify-content: end;
    align-items: center;
}
.container-signup{
    align-items: center;
    margin-top: 12px;
}
footer{
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    display: none;
}
.container-info, .container-copyright{
    align-items: center;
    margin-bottom: 5px;
}
/* items */
/* 언어 선택 드롭다운 */
#lang-sel{
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 0 3px;
    width: 95px;
    height: 28px;

    border: solid 1px #dadada;
    font-size: 12px;
}
/* 로고 */
#logo{
    margin-top: 20px;
    width: 300px;
}
/* 로그인 input */
input{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;

    font-size: 12pt;
    border: solid 1px #dadada;
}
#pw{
    margin-top: 12px;
}
#submit{
    margin-top: 30px;
    height: 62px;
    border: none;
    background-color: #03c75a;
    color: white;
    font-size: 15pt;
}
/* 로그인 유지 체크박스 */
#login-check{
    display: none;
}
#login-check + label{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(img/unchecked.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
}
#login-check:checked + label{
    background-image: url(img/checked.png);
}
#checktext{
    padding-left: 5px;
    font-size: 9pt;
}
/* IP보안 & 일회용 로그인 */
a, a:hover, a:visited{
    text-decoration: none;
    color:grey;
    font-size: 9pt
}
#login-ip{
    display: none;
}
#login-ip + label{
    display: inline-block;
    margin-left:8px;
    width: 25px;
    height: 12px;
    background-image: url(img/off.png);
    background-size: 25px 12px;
    background-repeat: no-repeat;
}
#login-ip:checked + label{
    background-image: url(img/on.png);
    background-size: 20px 12px;
}
#checktext{
    padding-left: 5px;
    font-size: 9pt;
}
.verline{
    margin: 0 8px;
    height: 8px;

    background-color: #e4e4e5;
    border: solid #e4e4e5 0.5px;
}
.a-uline, .a-uline:hover, .a-uline:visited{
    text-decoration: underline;
}
#qmark{
    margin-left: 8px;
    width: 15px;
    height: 15px;
}
/* 가로선 */
hr{
    width: 100%;
    margin-top: 28px;
    border: solid #e4e4e5 0.3px;
}
/* 배너 */
#banner{
    margin-top: 50px;
    width: 100%;
    border: solid 1px #dadada;
}
/* 하단 링크 */
footer a:hover{
    color: #438a01;
    text-decoration: underline;
}
#logo-small{
    width: 80px;
}
small{
    font-size: 7pt;
}
#navercorp{
    margin: 0 5px;
}

/* breakpoint1 */
@media(min-width:1000px){
    footer{
        display: flex;
    }
}

/* breakpoint2 */
@media(min-width:755px){
    
}