*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Roboto;
  text-align: center;
}

ul{
  list-style: none;
}

button, button:focus{
   border: none;
   cursor: pointer;
   outline: none;
}

.container{
 margin: 20px;
 text-align: center;
}

.show{
  display: inline-block;
  width: 405px;
  overflow: hidden;
  margin-top: 10px;
}

.numbers{
  width: 1210px;
  transition-property: transform;
  transition-duration: 1s;
}

.numbers li{
  display: inline-block;
  border: solid black 1px;
  padding: 0 20pt;
  font-size: 100pt;
}

.buttons{
  margin: 10px 0;
}

.buttons li{
  display: inline-block;
  padding: 0 1px;
}

.buttons button{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: solid skyblue 3.5px;
  background-color: skyblue;
}