/* board */
.board ul{border-top:solid var(--black-color) 2px;}
.board ul li{border-bottom:solid var(--light-grey-color) 1px;}
.board ul li a{width:100%; padding:20px 0px; display:flex;}
.board ul li a span{font-size:14px;}
.board ul li a span:nth-child(1){flex-basis:50px}
.board ul li a span:nth-child(2){flex-grow:1; font-size:16px; text-align:left;}
.board ul li a span:nth-child(3){flex-basis:180px; color:var(--dark-grey-color); text-align:left;}
.board ul li a span:nth-child(4){flex-basis:90px; color:var(--dark-grey-color);}
.board ul li a span.comment{font-size:16px; color:var(--dark-grey-color);}
.board a.write{
  display:inline-block; margin:30px; padding:14px 25px; border-radius:30px;
  font-weight:bold; background-color:var(--light-grey-color);
}
.board a.write:before{
  display:inline-block; margin-right:4px; margin-bottom:4px;
  width:20px; height:20px; vertical-align:middle; content:"";
  background:url("image/write.png") center no-repeat; background-size:100%;
}